.html {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}
.body--main {
  background-color: rgb(245, 241, 220);
}
.body--aboutme {
  background-color: rgb(98, 171, 238);
}
.body--articles {
  background-color: rgb(255, 255, 204);
}

.header {
  display: grid;
  min-height: 300px;
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-family: "Square Peg", cursive;
}
.header--main {
  background-image: linear-gradient(#b3e0ff, #0099ff);
}
.header--articles {
  background-image: linear-gradient(#df9361, #552804);
}
.header__obrazek {
  place-self: center;
  padding-top: 2rem;
}
.header__main-title {
  place-self: start;
  grid-column: span 2;
  font-size: 5rem;
  text-transform: uppercase;
}
.header__main-title-articles {
  place-self: start;
  grid-column: span 2;
  font-size: 5rem;
  text-transform: uppercase;
}
.header__main-title-aboutme {
  place-self: center;
  grid-column: span 3;
  font-size: 5rem;
  text-transform: uppercase;
}
.header__subtitle {
  place-self: center;
  font-size: 3rem;
  grid-column: span 3;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  min-height: 500px;
  gap: 2rem;
  padding: 2rem;
}
.articles--beige {
  background-color: beige;
}
.articles--brown {
  background-color: rgb(184, 129, 89);
}
.articles--odsazeni {
  margin: 2rem;
}
.articles--dark-khaki {
  background-color: DarkKhaki;
}
.articles--banner {
  align-self: stretch;
}
.articles a {
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2rem;
  color: #ffff1a;
}
.articles__tips {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

.articles-banner--train {
  background-image: url("vlakj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.articles-banner--children {
  background-image: url("hradnipostel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.articles-banner--zdrava-lahev {
  background-image: url("zdravalahev.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.articles-banner--skryte-pribehy {
  background-image: url("skrytepribehy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fotogalery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(25px, 50px) 3fr;
  gap: 2rem;
  grid-column: span 2;
}
.fotogalery__title {
  grid-column: span 5;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
}
.fotogalery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  background-color: beige;
  font-size: 1.5rem;
}
.main-info__main-info-title {
  align-self: center;
  justify-self: center;
  text-decoration: underline;
}
.main-info__main-info-text1 {
  grid-row-start: 2;
  padding: 0rem 5rem 1rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.main-info__main-info-text2 {
  grid-row-start: 3;
  padding: 0rem 5rem 1rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: grid;
  min-height: 300px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  background-color: Wheat;
  margin-top: 2rem;
}

.footer-box {
  font-size: 1.25rem;
  padding: 2rem;
  margin: 2rem;
  padding-top: 0rem;
}
.footer-box--logo {
  background-image: url("frog.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-box__title {
  text-decoration: underline;
}
.footer-box__info-detail--phone {
  font-weight: bold;
  color: #ff8000;
}
.footer-box__info-detail--email {
  color: #0040ff;
}
.footer-box__text {
  font-style: italic;
}

.one-article {
  padding: 1rem 3rem;
  display: flex;
  margin: 2rem 3rem 0rem 3rem;
  border: 1px solid black;
}

.text-box {
  display: flex;
  flex-direction: column;
}
.text-box__title {
  margin-top: 2rem;
  text-decoration: underline;
  font-size: 1.3rem;
  color: black;
  text-transform: uppercase;
}
.text-box__title:hover {
  background-color: green;
}
.text-box__text {
  font-size: 1.1rem;
}

.one-article-image {
  float: left;
  align-self: flex-end;
}

.articles-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
.articles-info__articles-info-title {
  align-self: center;
  justify-self: center;
  text-decoration: underline;
}
.articles-info__articles-info-text {
  padding: 0rem 5rem 1rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.articles-svg {
  padding: 1rem 3rem;
  height: 300px;
  overflow: hidden;
}

.articles-svg picture {
  width: 100%;
}

.footer-aboutme {
  background-color: Wheat;
}
.footer-aboutme__email {
  color: #0040ff;
}
.footer-aboutme__phone {
  color: #ff8000;
}

.info-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 2rem;
  max-height: 800px;
}
.info-box__aboutme-text {
  padding: 0rem 5rem 1rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}
.info-box__aboutme-obrazek {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .info-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .articles-svg {
    padding-bottom: 75%;
    overflow: unset;
  }

  .articles-svg picture {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */